<h2>
<%= link_to ("Create A New Comment"), new_comment_path %>
<!-- link to create a new comment -->
</h2>

<hr>

<h3>All Comments: </h3>

<hr>
<br>

<h2>
  <ul>
    <% @comments.each do |comment| %>
    <li>
      <%= comment.content %>
      <!-- Loop displays all comments -->
    </li><br>

    <%= link_to 'Delete Comment',  { action: :destroy, id: comment.id }, method: :delete %>
    <!-- link deletes a comment -->
    <hr>

    <% end %>
  </ul>
</h2>
